# Each line is a file pattern followed by one or more owners.


# These owners will be the owners for everything in .github folder.
# They will be requested for review when someone opens a pull request.
.github/**  @a-monteiro
