[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "2.0.2"
pre-commit = "2.20.0"
dbt-core = ">=1.10.0,<1.11"
dbt-trino = ">=1.10.1,<1.11"
pytest = ">=9.0.3"
requests = ">=2.33.0"
deepdiff = ">=8.6.2"
dbt-common = ">=1.34.2,<1.35"
sqlparse = ">=0.5.4"
protobuf = ">=5.29.6"
filelock = ">=3.20.3"
virtualenv = ">=20.36.1"
urllib3 = ">=2.6.3"
jinja2 = ">=3.1.6"

[requires]
python_version = "3.11"

[dev-packages]
