# Pipfile for translation doctstore (to be replaced with docker-compose)

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-2.12.0-py3-none-any.whl"
verify_ssl = false
name = "tensorflow"

[packages]
langchain = "0.0.129"
tenacity = "8.2.2"
faiss-cpu = "1.7.3"
openai = "0.27.2"
transformers = "4.27.4"
tiktoken = "0.3.3"
pytest = "7.2.2"
boto3 = "1.26.108"
trino = "0.322.0"
dbt-trino = "1.4.1"
sqlfluff = "*"

[requires]
python_version = "3.10"
